<!-- <div class="login-container">
  <h2>Connexion</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
    <!-- Email input avec message d'erreur -->
     <!-- <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email">
      <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        Email est requis.
      </div>
    </div> -->

    <!-- Password input avec message d'erreur -->
    <!-- <div>
      <label for="password">Mot de passe</label>
      <input id="password" formControlName="password" type="password">
      <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
        Mot de passe est requis.
      </div>
    </div> -->

    <!-- <button type="submit" [disabled]="loginForm.invalid">Connexion</button>
  </form>
</div> -->



<body>
  <div class="form-container">
    <h2>Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        Email est requis.
      </div>

      <label for="motdepasse">Mot de passe:</label>
      <input type="password" id="motdepasse" formControlName="password" required>
      <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
        Mot de passe est requis.
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    </form>
  </div>
</body>















<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!-- Email input avec message d'erreur -->

<div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
  Email est requis.


  <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
    Mot de passe est requis.
