
    <!-- Header Section -->
    <header>
        <div class="container">
            <div class="logo">LOGO</div>
            <nav>
                <ul>
                    <li><a routerLink="#">Accueil</a></li>
                    <li><a routerLink="trajet">Trajet</a></li>
                    <li><a href="#">Comment ça Marche</a></li>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Contact</a></li>
                    <button (click)="logout()">Déconnexion</button>
                </ul>
            </nav>
            <div class="actions">
                <a href="#" class="action-btn">Rechercher</a>
                <!-- <a href="Proposer_Trajet" class="action-btn">Proposer Trajet</a> -->
                <li><a routerLink="/ajout" class="action-btn">Proposer Trajet</a></li>
            </div>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="hero">
      <div class="container">
        <div class="hero-content">
            <h1>Bienvenue sur notre plateforme</h1>
            <p>Votre solution de covoiturage simple, rapide et <br>écoresponsable.
            Rejoignez une communauté engagée <br>pour des déplacements plus économiques et <br>respectueux de l'environnement.</p>
            <div class="hero-buttons">
                <a href="connexion" class="btn orange-btn">Connexion</a>
                <a href="inscription_ut." class="btn blue-btn">Inscription</a>
            </div>
        </div>

        <!-- Search Section: Ajoutée dans la section hero -->
        <div class="search-bar">
            <div class="search-fields">
                <div class="search-field">
                    <img src="../../../assets/images/Desktop2.png" alt="Départ">
                    <input type="text" placeholder="Départ">
                </div>
                <div class="search-field">
                    <img src="assets/images/Address.png" alt="Destination">
                    <input type="text" placeholder="Destination">
                </div>
                <div class="search-field">
                    <img src="assets/images/Calendar31.png" alt="Aujourd'hui">
                    <input type="date" value="2024-09-20">
                </div>
                <div class="search-field">
                    <img src="assets/images/Tall Person.png" alt="Passager">
                    <input type="number" placeholder="Passager">
                </div>
            </div>
            <div class="search-actions">
                <a href="#" class="btn orange-btn">Rechercher</a>
                <a href="Proposer_Trajet.html" class="btn blue-btn">Proposer Trajet</a>
            </div>
        </div>
      </div>
    </section>



    <!-- Section des cartes -->
<section class="features">
  <div class="container">
    <div class="feature-card">
        <div class="icon">
            <img src="assets/images/fluent-mdl2_reservation-orders.png" alt="Icône de paiement sécurisé" width="50" height="50">
        </div>
        <h3>Réservez en toute sécurité</h3>
        <p>Effectuez vos paiements en toute confiance grâce à nos options de paiement sécurisé. Profitez d'une transaction simple et rapide, sans aucun souci.</p>
    </div>

    <!-- Ajout d'une image au-dessus de la première carte -->
    <div class="feature-image-container">
        <img src="assets/images/image3.png" alt="Description de l'image" class="feature-image" />
    </div>

    <div class="feature-card">
        <div class="icon">
            <img src="assets/images/Vectorrr.png" alt="Icône de voiture" width="50" height="50">
        </div>
        <h3>Proposez facilement vos trajets</h3>
        <p>En tant que conducteur, proposez vos trajets et partagez vos frais de déplacement. Gagnez du temps et optimisez vos trajets en connectant des passagers en quelques étapes simples.</p>
    </div>

    <!-- Ajout d'une image au-dessus de la deuxième carte -->
    <div class="feature-image-container">
        <img src="assets/images/image5.png" alt="Description de l'image" class="feature-image" />
    </div>

    <div class="feature-card">
        <div class="icon">
            <img src="assets/images/Paiement.png" alt="Icône de paiement sécurisé" width="50" height="50">
        </div>
        <h3>Paiements sécurisés</h3>
        <p>Trouvez et réservez un trajet en quelques clics grâce à notre plateforme sécurisée. Choisissez votre conducteur, consultez les avis, et partez l'esprit tranquille.</p>
    </div>
  </div>
</section>


    <!-- Section À propos de nous -->
<section class="about-us">
    <div class="about-content">
        <img src="assets/images/image6.png" alt="À propos de nous" class="about-image" />
        <div class="about-text">
            <h2>A propos de nous</h2>
            <p>
                Notre plateforme est une plateforme de covoiturage dédiée à faciliter vos déplacements quotidiens tout en réduisant votre empreinte carbone. Nous croyons en une mobilité partagée et durable, et nous mettons à disposition une interface intuitive pour connecter passagers et conducteurs en toute sécurité.
            </p>
            <a href="#" class="btn">Découvrir</a>
        </div>
    </div>
</section>

<!-- Section comment ça marche -->
<section class="how-it-works">
    <h2>Comment ça marche</h2>
    <div class="process-steps">
        <div class="step">
            <div class="feature-image-container">
                <img src="assets/images/image4.png" alt="Image 4" class="feature-image" />
            </div>
            <img src="assets/images/Longue_Publication.png" alt="Publication Icon" class="step-icon">
            <div>
                <h3>Publication</h3>
                <p>Le conducteur publie son offre de covoiturage pour un trajet (Yeubeum, anns Bénard).</p>
            </div>
        </div>
        <div class="step">
            <div class="feature-image-container">
                <img src="" alt="" class="feature-image" />
            </div>
            <img src="assets/images/Local_Reservation.png" alt="Communication Icon" class="step-icon">
            <div>
                <h3>Communication</h3>
                <p>Le passager communique avec le conducteur pour demander une place à bord et conclure une entente (monétaire ou conduite en alternance).</p>
            </div>
        </div>
        <div class="step">
            <div class="feature-image-container">
                <img src="assets/images/image7.png" alt="Image 3" class="feature-image" />
            </div>
            <img src="assets/images/Longue_Covoiturage.png" alt="Trajet en covoiturage Icon" class="step-icon">
            <div>
                <h3>Trajet en covoiturage</h3>
                <p>Conducteur et passager se rejoignent au lieu de rendez-vous pour faire le trajet ensemble!</p>
            </div>
        </div>
        <div class="step">
            <div class="feature-image-container">
                <img src="" alt="" class="feature-image" />
            </div>
            <img src="assets/images/Longue_Paiement.png" alt="Réservation et paiement Icon" class="step-icon">
            <div>
                <h3>Réservation et paiement</h3>
                <p>Le passager réserve et paie sa place en ligne ou par espèce. Conducteur et passager communiquent ensuite par courriel ou téléphone.</p>
            </div>
        </div>
        <div class="step">
            <div class="feature-image-container">
                <img src="assets/images/image8.png" alt="Image 3" class="feature-image" />
            </div>
            <img src="assets/images/Longue_Transfert.png" alt="Transfert d'argent Icon" class="step-icon">
            <div>
                <h3>Transfert d'argent</h3>
                <p>Le conducteur confirme le trajet avec le code et encaisse l'argent via dépôt direct dans un compte bancaire, par Interac ou Paypal.</p>
            </div>
        </div>
    </div>
</section>


<section class="registration-login-section">
    <div class="content-wrapper">
        <div class="image-wrapper">
            <img src="assets/images/image.png" alt="Registration and Login" class="section-image">
            <div class="play-button">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
        <div class="text-wrapper">
            <h3>Inscription :</h3>
            <p>Les utilisateurs, passagers et conducteurs, s'inscrivent en fournissant leurs informations personnelles (nom, email, numéro de téléphone) et créent un mot de passe sécurisé.</p>

            <h3>Connexion :</h3>
            <p>Une fois inscrits, les utilisateurs peuvent se connecter pour accéder aux fonctionnalités de la plateforme.</p>
        </div>
    </div>
</section>

<section class="where-are-you-going">
    <div class="heading">
        <h2>Où allez-vous ?</h2>
    </div>
    <div class="trip-options">
        <button class="trip-button">Yeumbeul <span>→</span> Sandagua</button>
        <button class="trip-button">Yeumbeul <span>→</span> Sandagua</button>
        <button class="trip-button">Yeumbeul <span>→</span> Sandagua</button>
    </div>
    <div class="trips-footer">
        <span>Nos trajets</span>
    </div>
</section>


<!-- Section Avis et Témoignages  -->
<section class="testimonials">
    <div class="testimonial-header">
        <h2>Avis et Témoignages</h2>
        <br>
        <p class="quote-text">
            Découvrez ce que nos utilisateurs pensent de notre plateforme et comment elle a transformé leur expérience de covoiturage au quotidien. <br>
        </p>
    </div>

    <div>
        <img src="assets/images/Rectangle15.png" alt="Rectangle décoratif" class="rectangle-img15">
        <img src="assets/images/image16.png" alt="Rectangle décoratif" class="rectangle-img16">
    </div>

    <div class="testimonial-container">
        <img src="assets/images/image17.png" alt="Rectangle décoratif" class="rectangle-img17">
        <!-- Image du témoin placée dans le container pour se superposer -->
        <img src="assets/images/temoin.png" alt="Témoin" class="temoin-img">
        <!-- Nouvelles images -->
        <img src="assets/images/image1.png" alt="Image 1" class="image1">
        <img src="assets/images/image2.png" alt="Image 2" class="image2">
        <div class="testimonial-text-overlay">
            <h3>Adjiaratou Oumy Fall</h3>
            <blockquote>
                <p class="quote-texte">J'utilise cette plateforme depuis plusieurs mois et je suis impressionné par la facilité d'utilisation. Réserver un trajet est simple et rapide. En plus, les paiements sécurisés me rassurent à chaque fois. Je recommande vivement à tous ceux qui cherchent une solution pratique pour leurs déplacements !</p>
            </blockquote>
        </div>
    </div>

</section>
<br>

<!-- Section CTA -->
<section class="cta-section">
    <div class="container">

        <!-- Carte Conducteur -->
        <div class="cta-box driver">
            <h2>Devenez conducteur</h2>
            <ul>
                <li><img src="assets/images/auto.png" alt="Icone 1"> Offrez les places libres sur vos trajets domicile-travail ou interurbains</li>
                <li><img src="assets/images/Passager.png" alt="Icone 2"> Trouvez des passagers pour partager la route en covoiturage</li>
                <li><img src="assets/images/Paiement.png" alt="Icone 3"> Économisez des centaines de franc par mois et agrémentez vos déplacements</li>
            </ul>
            <a href="#" class="cta-btn">INSCRIPTION CONDUCTEUR</a>
        </div>

        <!-- Carte Passager -->
        <div class="cta-box passenger">
            <h2>Devenez passager</h2>
            <ul>
                <li><img src="assets/images/lieu.png" alt="Icone 4"> Recherchez parmi les offres de covoiturage local ou interurbain</li>
                <li><img src="assets/images/Credit_Accueil.png" alt="Icone 5"> Réservez en ligne ou demandez un transport au conducteur</li>
                <li><img src="assets/images/musique.png" alt="Icone 6"> Laissez-vous conduire, économisez et profitez des avantages du covoiturage</li>
            </ul>
            <a href="inscription_ut.html" class="cta-btn">INSCRIPTION PASSAGER</a>
        </div>

    </div>
</section>

<!-- Section de contact -->
<section class="contact-section">
    <div class="contact-container">
        <div class="contact-box">
            <div class="contact-form">
                <h2>Entrer en contact</h2>
                <p>Nous sommes là pour vous! Comment pouvons-nous vous aider?</p>
                <form action="#">
                    <input type="text" placeholder="Entrez votre nom">
                    <input type="email" placeholder="Entrez votre adresse email">
                    <textarea placeholder="Allez-y, nous vous écoutons..."></textarea>
                    <button type="submit">ENVOYER</button>
                </form>

            </div>
            <div class="contact-image">
                <img src="assets/images/Group 30.png" alt="Contact Image">
            </div>
        </div>
    </div>
</section>


<!-- Section du footer -->
<footer class="footer-section">
    <div class="footer-container">
        <!-- Colonne 1 : Logo et description -->
        <div class="footer-column">
            <h3>sama.covoiturage</h3>
            <p>Notre plateforme de covoiturage vise à simplifier les déplacements quotidiens en connectant conducteurs et passagers en toute sécurité.</p>
            <div class="footer-social-icons">
                <a href="#"><img src="assets/images/vector.png" alt="Icone Discord"></a>
                <a href="#"><img src="assets/images/icon.png" alt="Icone Instagram"></a>
                <a href="#"><img src="assets/images/Vectorf.png" alt="Icone Facebook"></a>
                <a href="#"><img src="assets/images/vector(2).png" alt="Icone Twitter"></a>
            </div>
        </div>

        <!-- Colonne 2 : Explorer -->
        <div class="footer-column">
            <h3>Explorer</h3>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="#">Comment ça marche</a></li>
                <li><a href="Proposer_Trajet.html">Proposer un trajet</a></li>
                <li><a href="#">Nos Services</a></li>
                <li><a href="#">Avis et Témoignages</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <!-- Colonne 3 : Support et Aide -->
        <div class="footer-column">
            <h3>Support et Aide</h3>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Centre d'aide</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Conditions d'utilisation</a></li>
            </ul>
        </div>
    </div>
</footer>




