<div class="container">
  <!-- Section gauche : Informations sur le conducteur et réservations -->
  <div class="left-section">

      <!-- Infos du conducteur -->
      <div class="driver-info">
        <img src="assets/images/Ellipse 255.png" alt="Driver Avatar" class="avatar">
        <p><b>Conducteur :</b> {{ trajet.data.conducteur.user.nom }}</p>
        <p><b>Âge :</b> {{ trajet.data.conducteur?.age }} ans</p>
        <p><b>Tél :</b> {{ trajet.data.conducteur.telephone }}</p>
        <p><b>Email :</b> {{ trajet.data.conducteur.user.email }}</p>
    </div>

    <!-- Liste des réservations -->
    <div class="reservations">
      <h4>Nombre de places restantes</h4>
      <div *ngIf="trajet.data.nombre_places !== undefined && trajet.data.placesRestantes !== undefined">
        <p><b>Places restantes : {{ trajet.data.placesRestantes }}</b></p>
      </div>
  </div>
</div>


  <!-- Section droite : Carte et infos du trajet -->
  <div class="right-section">

      <!-- Carte du trajet -->
      <div class="map-section">
          <img src="assets/images/Rectangle 76.png" alt="Map" class="map-image">
      </div>

      <!-- Informations sur le trajet -->
      <div class="trip-info">
        <div class="container-trajet">
        <div class="header">

        </div>
        <br>
        <!-- <h3>{{ trajet.titre }}</h3> -->
          <div class="d-flex justify-content-between mb-3 ps-5 pe-5">
            <div>
              <p><b> Point de départ :</b>  </p>
              <p><b>Point d'arrivée :</b></p>
              <p><b>Heure de départ :</b> </p>
              <p><b>Date de départ :</b> </p>
              <p><b>Nombre de place :</b></p>
            </div>
            <div class="separateur d-flex flex-column align-items-center">
              <div class="rond"></div>
              <div class="trait"></div>
              <div class="rond"></div>
            </div>
            <div>
              <p>{{ trajet.data.point_depart }}</p>
              <p> {{ trajet.data.point_arrivee }} </p>
              <p>{{ trajet.data.heure_depart }}</p>
              <p>{{ trajet.data.date_depart | date:'dd/MM/yyyy' }}</p>
              <p>{{ trajet.data.nombre_places }}</p>
            </div>
          </div>
          <div class="header">

          </div>
          <br>
          <p><b>Prix total pour un passager :</b> {{ trajet.data.prix | currency:'XOF' }}</p>
          <br>
          <hr>

          <br>
          <!-- Bouton réserver -->
          <button class="reserve-btn" (click)="reserveTrajet(trajet.data.id)" >RÉSERVER</button>
      </div>
           <!-- Section des commentaires -->
          <div class="comments-section">
            <div class="comments-commentaire">

            <!-- <div class="comment-champs">
              <input class="mb-0" [(ngModel)]="newComment" placeholder="Ajouter un commentaire" />
              <button (click)="addComment()">Envoyer</button>
            </div>
             <div class="rating-icons ">
              <span (click)="setNote(1)" [class.active]="newNote === 1">
                <img src="/assets/images/iconamoon_like-thin.png" alt="">
                <span>{{ likesCount }}</span>
              </span>
              <span (click)="setNote(-1)" [class.active]="newNote === -1">
                <img src="/assets/images/iconamoon_dislike-light.png" alt="">
                <span>{{ dislikesCount }}</span>
              </span>
            </div>
          </div> -->

            <div *ngIf="avis.length > 0; else noComments">
              <div class="comment" *ngFor="let comment of avis">
                <p><b>{{ comment.user.nom }}</b></p>
                <p>{{ comment.commentaire }}</p>
                <!-- <p>{{ comment.note === 1 ? '👍' : comment.note === -1 ? '👎'  }}</p> -->
              </div>
            </div>
            <ng-template #noComments>
              <div>Aucun commentaire pour ce trajet.</div>
            </ng-template>
          </div>


          </div>
        </div>
    </div>
