<div class="container">
  <!-- Section gauche : Informations sur le conducteur et réservations -->
  <div class="left-section">
      <!-- Infos du conducteur -->
      <div class="driver-info">
        <img src="assets/images/Ellipse 255.png" alt="Driver Avatar" class="avatar">
        <p><b>Conducteur :</b> {{ trajet.data.conducteur.user.nom }}</p>
        <p><b>Âge :</b> {{ trajet.data.conducteur?.age }} ans</p>
        <p><b>Tél :</b> {{ trajet.data.conducteur.telephone }}</p>
        <p><b>Email :</b> {{ trajet.data.conducteur.user.email }}</p>
    </div>

     <!-- Liste des réservations -->
     <div class="reservations">
      <h4>Liste des réservations</h4>
      <div *ngIf="trajet.reservations && trajet.reservations.length > 0; else noReservations">
          <div *ngFor="let reservation of trajet.reservations" class="reservation">
              <p><b>{{ reservation.nom }}</b></p>
              <p>Tél: {{ reservation.telephone }}</p>
              <p>Statut : ✔️</p>
          </div>
      </div>
      <ng-template #noReservations>
          <div>Aucune réservation pour ce trajet.</div>
      </ng-template>
  </div>
</div>

  <!-- Section droite : Carte et infos du trajet -->
  <div class="right-section">
      <!-- Carte du trajet -->
      <div class="map-section">
          <img src="assets/images/Rectangle 76.png" alt="Map" class="map-image">
      </div>

      <!-- Informations sur le trajet -->
      <div class="trip-info">
          <h3>{{ trajet.titre }}</h3>
          <p><b> Point de départ :</b> {{ trajet.data.point_depart }} </p>
          <p><b>Point d'arrivée :</b> {{ trajet.data.point_arrivee }} </p>
          <p><b>Heure de départ :</b> {{ trajet.data.heure_depart }}</p>
          <p><b>Date de départ :</b> {{ trajet.data.date_depart | date:'dd/MM/yyyy' }}</p>
          <p><b>Nombre de place :</b> {{ trajet.data.nombre_places }}</p>
          <p><b>Prix total pour un passager :</b> {{ trajet.data.prix | currency:'XOF' }}</p>

          <!-- Bouton réserver -->
          <button class="reserve-btn" (click)="reserveTrajet()" [disabled]="!isAvailable">RÉSERVER</button>
      </div>
            <!-- Section des commentaires -->
              <div class="comments-section">
                <textarea [(ngModel)]="newComment" placeholder="Ajouter un commentaire"></textarea>
                <button (click)="addComment()">Envoyer</button>
                <div *ngIf="trajet.comments && trajet.comments.length > 0; else noComments">
                    <div class="comment" *ngFor="let comment of trajet.comments">
                        <p><b>{{ comment.nom }}</b></p>
                        <p>{{ comment.message }}</p>
                        <p>{{ comment.date | date:'short' }}</p>
                    </div>
                </div>
                <ng-template #noComments>
                    <div>Aucun commentaire pour ce trajet.</div>
                </ng-template>
            </div>
        </div>
    </div>
