<div class="container">
  <h2>Modifier le Trajet</h2>
  <form [formGroup]="trajetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="point_depart">Point de départ</label>
      <input type="text" id="point_depart" formControlName="point_depart" class="form-control" />
      <div *ngIf="trajetForm.get('point_depart')?.invalid && (trajetForm.get('point_depart')?.touched || trajetForm.get('point_depart')?.dirty)" class="text-danger">
        Le point de départ est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="point_arrivee">Point d'arrivée</label>
      <input type="text" id="point_arrivee" formControlName="point_arrivee" class="form-control" />
      <div *ngIf="trajetForm.get('point_arrivee')?.invalid && (trajetForm.get('point_arrivee')?.touched || trajetForm.get('point_arrivee')?.dirty)" class="text-danger">
        Le point d'arrivée est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="date_depart">Date de départ</label>
      <input type="date" id="date_depart" formControlName="date_depart" class="form-control" />
      <div *ngIf="trajetForm.get('date_depart')?.invalid && (trajetForm.get('date_depart')?.touched || trajetForm.get('date_depart')?.dirty)" class="text-danger">
        La date est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="heure_depart">Heure de départ</label>
      <input type="time" id="heure_depart" formControlName="heure_depart" class="form-control" />
      <div *ngIf="trajetForm.get('heure_depart')?.invalid && (trajetForm.get('heure_depart')?.touched || trajetForm.get('heure_depart')?.dirty)" class="text-danger">
        L'heure est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="nombre_places">Places disponibles</label>
      <input type="number" id="nombre_places" formControlName="nombre_places" class="form-control" />
      <div *ngIf="trajetForm.get('nombre_places')?.invalid && (trajetForm.get('nombre_places')?.touched || trajetForm.get('nombre_places')?.dirty)" class="text-danger">
        Le nombre de places est requis.
      </div>
    </div>


    <div class="form-group">
      <label for="statut">Statut</label>
      <input type="text" id="statut" formControlName="statut" class="form-control" />
      <div *ngIf="trajetForm.get('statut')?.invalid && (trajetForm.get('statut')?.touched || trajetForm.get('statut')?.dirty)" class="text-danger">
        Le statut est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="prix">Prix</label>
      <input type="number" id="prix" formControlName="prix" class="form-control" />
      <div *ngIf="trajetForm.get('prix')?.invalid && (trajetForm.get('prix')?.touched || trajetForm.get('prix')?.dirty)" class="text-danger">
        Le prix est requis.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="trajetForm.invalid">Mettre à jour le Trajet</button>
  </form>
</div>
